@media screen {
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
  blockquote, q { quotes: none; }
  blockquote::before, blockquote::after, q::before, q::after { content: none; }
  table { border-collapse: collapse; border-spacing: 0px; }
  a:focus, a:hover { text-decoration: underline; }
  [hidden] { display: none; }
  #skip a { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
  #skip a:focus { position: static; width: auto; height: auto; }
  #site_header { min-width: 1100px; }
  #site_header * ol, #site_header * ul { list-style-type: none; margin: 0px; padding: 0px; }
  header { width: 100%; }
  #utilityNav { width: 100%; height: 25px; background: #006699 none repeat scroll 0% 0%; }
  #utilityNav ul { margin: 0px auto; width: 960px; text-align: right; padding: 2px 26px 0px 0px; }
  #utilityNav ul li { display: inline; margin: 0px; }
  #utilityNav ul li a { text-decoration: none; color: #ffffff; padding-left: 6px; font: 12px arial,sans-serif; }
  #utilityNav ul li a:hover, #utilityNav ul li a:focus { text-decoration: underline; }
  .whiteLine { background: #ffffff none repeat scroll 0% 0%; }
  #logo_w_search { width: 1100px; height: 122px; margin: 0px auto; }
  #healthcareLink { width: 213px; height: 19px; background: #666666 none repeat scroll 0% 0%; color: #ffffff; font: 11px arial,sans-serif; float: right; clear: right; padding: 4px 0px 0px 15px; margin-right: 7.1%; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
  #healthcareLink a { font-weight: bold; color: #ffffff; }
  #logo_w_search a img { margin: 25px 0px 0px 6.2%; float: left; }
  #logo_w_search .topBar { float: left; width: 275px; margin: 63px 0px 0px 3.2%; }
  #logo_w_search .topBar li { display: inline; margin: 0px; }
  #logo_w_search .topBar li a { font: 11px arial,sans-serif; color: #105191; padding: 1px 1px 1px 20px; text-decoration: underline; }
  .topBar li a.update { background: rgba(0, 0, 0, 0) url("../images/icons/icon-topbar-sprites.png") no-repeat scroll 0px -53px; }
  .topBar li a.print { background: rgba(0, 0, 0, 0) url("../images/icons/icon-topbar-sprites.png") no-repeat scroll 0px -26px; }
  .topBar li a.feedback { background: rgba(0, 0, 0, 0) url("../images/icons/icon-topbar-sprites.png") no-repeat scroll 0px 0px; }
  #SiteSearchHeaderForm { margin: 1% 0px 0px 0.5%; width: 320px; float: left; }
  .SearchBox { background-color: transparent; border: 1px solid #b6b6b6; margin-right: 3%; width: 250px; padding: 6px; }
  .btn_search { position: relative; right: 8px; top: 10px; }
  #global_nav { width: 100%; min-height: 35px; background: #24797C; background: linear-gradient(to bottom, #05676a 0%, #24797c 13%, #24797c 76%, #2c777a 76%, #307c7f 87%, #026466 100%) repeat scroll 0% 0%; }
  #global_nav nav { width: 960px; margin: 0px auto; }
  .homeIcon { background-image: url("../images/icons/home_Icon_white.png"); background-repeat: no-repeat; background-position: 0px 25%; padding: 3px 9px 0px 16px; }
  .flexnav { transition: none 0s ease 0s ; overflow: hidden; max-height: 0px; margin: 0px; }
  .flexnav.opacity { opacity: 0; }
  .flexnav.flexnav-show { max-height: 2000px; opacity: 1; transition: all 0.5s ease-in-out 0s; }
  .flexnav li { position: relative; overflow: hidden; margin: 0px; padding: 0px; }
  #global_nav #site_nav .flexnav li a { position: relative; display: block; padding: 10px 8px 7px; font: 600 14px "Helvetica Neue",Helvetica,Arial,sans-serif; z-index: 2; overflow: hidden; color: #ffffff; text-decoration: none; border-right: 1px solid #05676a; background: #24797C; background: linear-gradient(to bottom, #05676a 0%, #24797c 13%, #24797c 76%, #2c777a 76%, #307c7f 87%, #026466 100%) repeat scroll 0% 0%; }
  #global_nav #site_nav ul.flexnav li a:hover { text-decoration: underline; background: #037f7c none repeat scroll 0% 0%; }
  #global_nav #site_nav ul.flexnav li ul { display: none; }
  #global_nav #site_nav ul.flexnav li ul li { position: relative; overflow: hidden; border-bottom: 1px dashed #cccccc; width: 160px; }
  .flexnav li ul li a:focus, .flexnav li ul li a:hover { color: #000000; }
  .flexnav li ul.flexnav-show li { overflow: visible; }
  #global_nav #site_nav ul.flexnav li ul li a { display: block; background: #037f7c none repeat scroll 0% 0%; font-weight: 400; }
  .flexnav ul li ul li ul li a { background: #cbcbc9 none repeat scroll 0% 0%; }
  .flexnav .touch-button { display: none; }
  .flexnav .touch-button:focus, .flexnav .touch-button:hover { cursor: pointer; }
  .flexnav .touch-button .navicon { position: relative; top: 30%; font-size: 12px; color: #ffffff; }
  .menu-button { position: relative; display: block; padding: 13px 8px; background: #066792 none repeat scroll 0% 0%; color: #ffffff; font: 600 14px "Helvetica Neue",Helvetica,Arial,sans-serif; cursor: pointer; border-bottom: 2px solid #ffffff; }
  .menu-button.one-page { position: fixed; top: 0px; right: 5%; padding-right: 45px; }
  .menu-button .touch-button { background: rgba(0, 0, 0, 0.075) none repeat scroll 0px 0px; position: absolute; z-index: 999; top: 0px; right: 0px; width: 50px; height: 41px; display: inline-block; text-align: center; }
  .menu-button .touch-button .navicon { font-size: 16px; position: relative; top: 1em; color: #ffffff; }
  .notDisplayed { display: none; }
  div#first_container article.twoColumns, div#first_container article.twocolumns { margin: 0px; }
  div.tabbedboxtop { width: 100%; height: 80px; margin-bottom: 15px; background: #f3f1e9 none repeat scroll 0% 0%; }
  div.tabbedboxtop img { margin-top: 10px; margin-right: 50px; margin-left: 20px; float: left; }
  div.tabbedboxtop ul { margin: 6px; display: inline-block; }
  div.tabbedboxtop ul li { list-style-type: none; }
  div.tabbedboxtop .button { float: right; }
  table.data-table { border: 0px solid black; border-spacing: 1px; }
  table.data-table thead tr th, table.data-table tr th, table.data-table tr, table.data-table tobdy tr td, table.data-table tr td { color: black; font-family: Arial,monospace; margin: 0px; padding: 2px; }
  table.data-table thead tr th, table.data-table tr th { background-color: #bcd4d4; text-align: center; }
  table.data-table tr, table.data-table tobdy tr td, table.data-table tr td { font-size: 14px; background-color: white; }
  table.data-table tr td { border-top: 1px solid black; }
  #footnoteDiv p { font-family: Arial,monospace; font-style: italic; font-size: 11px; background-color: white; padding: 4px; margin: 2px; }
  #pageContent { width: 1001px; background: #ffffff none repeat scroll 0% 0%; box-shadow: 12px 0px 15px -11px #cccccc, -12px 0px 8px -11px #cccccc; margin: 0px auto; overflow: hidden; }
  .breadcrumbs { color: #666666; font-size: 12px; font-family: Helvetica,Arial,sans-serif; margin: 1.5% auto 2.5%; width: 94%; }
  .breadcrumbs a, .breadcrumbs a:link, .breadcrumbs a:visited { color: #006666; font-weight: bold; }
  .section_nav { width: 20%; margin: 30px -3% 3% 0px; float: left; }
  .section_nav ul { margin: 0px; padding: 0px; }
  .section_nav ul li { list-style: outside none none; margin: 0px; padding: 0px; }
  .section_nav li.depth1 a.self, .section_nav li.depth1 a.parent, .section_nav li.depth1 a.ancestor { background-color: #066792; color: #ffffff; display: block; margin-bottom: 0px; padding: 8px 4px 8px 8px; text-decoration: none; font: bold 13.6px arial,helvetica,sans-serif; }
  .section_nav li.depth1 a.self:hover, .section_nav li.depth1 a.self:focus, .section_nav li.depth1 a.parent:hover, .section_nav li.depth1 a.parent:focus, .section_nav li.depth1 a.ancestor:hover, .section_nav li.depth1 a.ancestor:focus { text-decoration: underline; }
  .section_nav ul.secondLevel { margin: 4px 0px 0px; }
  .section_nav li.depth2 a.descendant, .section_nav li.depth2 a.sibling, .section_nav li.depth2 a.parent, .section_nav li.depth2 a.ancestor { background-color: #d9dbdb; color: #4d4d4d; display: block; margin-bottom: 0px; padding: 12px 2px 12px 8px; text-decoration: none; font-family: Helvetica,Arial,sans-serif; font-size: 13.6px; }
  .section_nav li.depth2 a.descendant:hover, .section_nav li.depth2 a.descendant:focus, .section_nav li.depth2 a.sibling:hover, .section_nav li.depth2 a.sibling:focus, .section_nav li.depth2 a.parent:hover, .section_nav li.depth2 a.parent:focus, .section_nav li.depth2 a.ancestor:hover, .section_nav li.depth2 a.ancestor:focus { text-decoration: underline; }
  .section_nav li.depth3 a.descendant, .section_nav li.depth3 a.sibling, .section_nav li.depth3 a.parent { background-color: #f0f0f0; color: #4d4d4d; display: block; margin-bottom: 1px; padding: 10px 4px 10px 25px; text-decoration: none; font-family: Helvetica,Arial,sans-serif; font-weight: 400; font-size: 13.6px; }
  .section_nav li.depth3 a.descendant:hover, .section_nav li.depth3 a.descendant:focus, .section_nav li.depth3 a.sibling:hover, .section_nav li.depth3 a.sibling:focus, .section_nav li.depth3 a.parent:hover, .section_nav li.depth3 a.parent:focus { text-decoration: underline; }
  .section_nav li.depth2 a.self { background-color: #ffffff; color: #4d4d4d; display: block; margin-bottom: 0px; padding: 10px 4px 10px 25px; text-decoration: none; font-family: Helvetica,Arial,sans-serif; font-weight: 700; font-size: 13.6px; }
  .section_nav li.depth2 a.self :hover, .section_nav li.depth2 a.self :focus { text-decoration: underline; }
  body { background: #f4f4f4 none repeat scroll 0% 0%; color: #333333; font: 85% Arial,Helvetica,sans-serif; }
  a:hover, a:focus { text-decoration: underline; color: #003366; }
  .sideBar h3, .sidebar h3 { color: #006666; margin-top: 1px; }
  .sideBar ul, .sidebar ul { margin: 30px 0px 10px 6px; }
  .sideBar ul li a, .sidebar ul li a { color: #105191; font-size: 15px; margin-top: 10px; }
  .sideBar aside.btnad { border-width: 3px 3px 3px 20px; border-style: solid; border-color: #066792; margin-bottom: 25px; margin-top: 25px; padding-left: 8px; padding-right: 0px; }
  .sideBar aside.btnad p { margin-left: 5px; }
  .sideBar aside.btnad p a { color: #105191; }
  .sideBar aside.btnad h3 { margin-bottom: 5px; }
  .sideBar aside.contact { margin-left: 0px; padding-left: 8px; border-top: 0px none; border-bottom: 0px none; }
  .sideBar aside.contact h3 { padding-left: 0px; font-size: 13.2px; margin-bottom: 4px; }
  .sideBar aside.contact a { font-size: 13px; color: #666666; }
  .sideBar aside.contact p { font-size: 12px; color: #666666; font-style: italic; }
  h1 { color: #043345; font: 1.9em Georgia,"Times New Roman",Times,serif; margin: 0px 0px 1em; }
  h2 { color: #026666; font: 18px Helvetica,Arial,sans-serif; margin: 10px 0px; padding: 10px 0px 2px; }
  h2 a:hover, h2 a:focus, h2 a:active { color: #003366; outline: medium none; }
  h3 { color: #000000; font: 16px Helvetica,Arial,sans-serif; margin-bottom: 6px; }
  h4 { color: #000000; font: 14px Helvetica,Arial,sans-serif; }
  h5 { color: #000000; font: 13.6px Helvetica,Arial,sans-serif; margin-bottom: 2px; }
  h2, h3, h4, h5, h6, strong, b { font-weight: bold; }
  p { color: #333333; font-family: Arial,Helvetica,sans-serif; font-style: normal; word-spacing: 0px; line-height: 17px; font-stretch: normal; font-variant: normal; }
  p, fieldset, table, pre { margin-bottom: 1em; }
  ol, ul, dl { margin-left: 2em; }
  ul li, ol li { margin: 10px; }
  ol li { list-style: outside none decimal; }
  li ol li { list-style: outside none lower-latin; }
  li ol li ol li { list-style: outside none lower-roman; }
  li ol li ol li ol li { list-style: outside none decimal; }
  li ol li ol li ol li ol li { list-style: outside none lower-latin; }
  li ol li ol li ol li ol li ol li { list-style: outside none lower-roman; }
  ul li { list-style: outside none disc; }
  li ul li { list-style: outside none circle; }
  li ul li ul li { list-style: outside none square; }
  li ul li ul li ul li { list-style: outside none disc; }
  li ul li ul li ul li ul li { list-style: outside none circle; }
  li ul li ul li ul li ul li ul li { list-style: outside none square; }
  dl dd { margin-left: 1em; }
  sub, sup { font-size: smaller; }
  sub { vertical-align: sub; }
  sup { position: relative; top: -0.4em; vertical-align: baseline; }
  table { margin-top: 20px; }
  table, th, td { border: 1px solid #000000; vertical-align: text-top;}
	/*Blog*/
 div[class^="loaded-page"] article header h1 {border-bottom: 1px solid #026666;
									 color: #026666;
									 font-family: "Helvetica",Arial,sans-serif;
									 font-size: 18px;
									 padding-bottom: 1px;}
  
 div[class^="loaded-page"] article p  {font: 13.6px "Arial Regular",sans-serif; line-height: 16.8px;}
 div[class^="loaded-page"] article div.display_short p {font-style: normal;}
 p[itemprop="about"] span {font-style: italic;}
 div[itemprop="description"] p{font-style: normal;}
 div[class^="loaded-page"] article header p time, div[class^="loaded-page"] article header p.pdfDate {font-weight: bold;}
 div [class^="loaded-page"] article {
margin-top: 15px;
overflow: hidden;
}
div.loaded-page a.usa-button {float:right;}
  /*Blog End*/
  
  /*buttons from U.S. web standards*/
  
  .usa-button,
.usa-button-primary,
.usa-button-primary:visited,
.usa-button:visited {
    background-color: #066792;
    border: 0;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: .70rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: .5em;
    margin-right: .5em;
    margin-top: .1em;
    outline: 0;
    padding: .4rem;
    text-align: center;
    text-decoration: none;
    width: auto
}

.usa-button-primary.usa-button-active,
.usa-button-primary.usa-button-active:visited,
.usa-button-primary:active,
.usa-button-primary:visited:active,
.usa-button.usa-button-active,
.usa-button.usa-button-active:visited,
.usa-button:active,
.usa-button:visited:active,
{
    background-color: #112e51
}

.usa-button-primary.usa-button-hover,
.usa-button-primary.usa-button-hover:visited,
.usa-button-primary:hover,
.usa-button-primary:visited:hover,
.usa-button.usa-button-hover,
.usa-button.usa-button-hover:visited,
.usa-button:hover,
.usa-button:visited:hover{
    background-color: #043345;
    border-bottom: 0 none;
    color: #fff;
    text-decoration: none
}

.usa-button-primary.usa-button-primary-alt,
.usa-button-primary.usa-button-primary-alt:visited,
.usa-button.usa-button-primary-alt,
.usa-button.usa-button-primary-alt:visited {
    background-color: #02bfe7;
    color: #212121
}

.usa-button-primary.usa-button-primary-alt.usa-button-active,
.usa-button-primary.usa-button-primary-alt.usa-button-active:visited,
.usa-button-primary.usa-button-primary-alt:active,
.usa-button-primary.usa-button-primary-alt:visited:active,
.usa-button.usa-button-primary-alt.usa-button-active,
.usa-button.usa-button-primary-alt.usa-button-active:visited,
.usa-button.usa-button-primary-alt:active,
.usa-button.usa-button-primary-alt:visited:active{
    background-color: #046b99;
    color: #fff
}

.usa-button-primary.usa-button-primary-alt.usa-button-hover,
.usa-button-primary.usa-button-primary-alt.usa-button-hover:visited,
.usa-button-primary.usa-button-primary-alt:hover,
.usa-button-primary.usa-button-primary-alt:visited:hover,
.usa-button.usa-button-primary-alt.usa-button-hover,
.usa-button.usa-button-primary-alt.usa-button-hover:visited,
.usa-button.usa-button-primary-alt:hover,
.usa-button.usa-button-primary-alt:visited:hover {
    background-color: #00a6d2
}

.usa-button-primary.usa-button-gray.usa-button-active,
.usa-button-primary.usa-button-gray.usa-button-active:visited,
.usa-button-primary.usa-button-gray:active,
.usa-button-primary.usa-button-gray:visited:active,
.usa-button.usa-button-gray.usa-button-active,
.usa-button.usa-button-gray.usa-button-active:visited,
.usa-button.usa-button-gray:active,
.usa-button.usa-button-gray:visited:active {
    background-color: #212121
}

.usa-button-primary.usa-button-gray.usa-button-hover,
.usa-button-primary.usa-button-gray.usa-button-hover:visited,
.usa-button-primary.usa-button-gray:hover,
.usa-button-primary.usa-button-gray:visited:hover,
.usa-button.usa-button-gray.usa-button-hover,
.usa-button.usa-button-gray.usa-button-hover:visited,
.usa-button.usa-button-gray:hover,
.usa-button.usa-button-gray:visited:hover {
    background-color: #323a45
}

.usa-button-primary.usa-button-gray,
.usa-button-primary.usa-button-gray:visited,
.usa-button.usa-button-gray,
.usa-button.usa-button-gray:visited {
    background-color: #5b616b
}

.usa-button-primary.usa-button-outline,
.usa-button-primary.usa-button-outline:visited,
.usa-button.usa-button-outline,
.usa-button.usa-button-outline:visited{
    background-color: #fff;
    box-shadow: 0 0 0 2px #0071bc inset;
    color: #0071bc
}

.usa-button-primary.usa-button-outline.usa-button-active,
.usa-button-primary.usa-button-outline.usa-button-active:visited,
.usa-button-primary.usa-button-outline:active,
.usa-button-primary.usa-button-outline:visited:active,
.usa-button.usa-button-outline.usa-button-active,
.usa-button.usa-button-outline.usa-button-active:visited,
.usa-button.usa-button-outline:active,
.usa-button.usa-button-outline:visited:active {
    box-shadow: 0 0 0 2px #112e51 inset;
    color: #112e51
}

.usa-button-primary.usa-button-outline.usa-button-hover,
.usa-button-primary.usa-button-outline.usa-button-hover:visited,
.usa-button-primary.usa-button-outline:hover,
.usa-button-primary.usa-button-outline:visited:hover,
.usa-button.usa-button-outline.usa-button-hover,
.usa-button.usa-button-outline.usa-button-hover:visited,
.usa-button.usa-button-outline:hover,
.usa-button.usa-button-outline:visited:hover {
    box-shadow: 0 0 0 2px #205493 inset;
    color: #205493
}

.usa-button-primary.usa-button-outline-inverse,
.usa-button-primary.usa-button-outline-inverse:visited,
.usa-button.usa-button-outline-inverse,
.usa-button.usa-button-outline-inverse:visited {
    background: 0 0;
    box-shadow: 0 0 0 2px #fff inset;
    color: #fff
}

.usa-button-primary.usa-button-outline-inverse.usa-button-active,
.usa-button-primary.usa-button-outline-inverse.usa-button-active:visited,
.usa-button-primary.usa-button-outline-inverse:active,
.usa-button-primary.usa-button-outline-inverse:visited:active,
.usa-button.usa-button-outline-inverse.usa-button-active,
.usa-button.usa-button-outline-inverse.usa-button-active:visited,
.usa-button.usa-button-outline-inverse:active,
.usa-button.usa-button-outline-inverse:visited:active{
    box-shadow: 0 0 0 2px #aeb0b5 inset;
    color: #d6d7d9
}

.usa-button-primary.usa-button-outline-inverse.usa-button-hover,
.usa-button-primary.usa-button-outline-inverse.usa-button-hover:visited,
.usa-button-primary.usa-button-outline-inverse:hover,
.usa-button-primary.usa-button-outline-inverse:visited:hover,
.usa-button.usa-button-outline-inverse.usa-button-hover,
.usa-button.usa-button-outline-inverse.usa-button-hover:visited,
.usa-button.usa-button-outline-inverse:hover,
.usa-button.usa-button-outline-inverse:visited:hover {
    box-shadow: 0 0 0 2px #d6d7d9 inset;
    color: #d6d7d9
}

.usa-button-disabled{
    background-color: #d6d7d9;
    color: #323a45;
    cursor: default
}

.usa-button-primary.usa-button-focus,
.usa-button-primary.usa-button-focus:visited,
.usa-button-primary:focus,
.usa-button-primary:visited:focus,
.usa-button.usa-button-focus,
.usa-button.usa-button-focus:visited,
.usa-button:focus,
.usa-button:visited:focus {
    box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf
}

.usa-button-primary.usa-button-big,
.usa-button-primary.usa-button-big:visited,
.usa-button.usa-button-big,
.usa-button.usa-button-big:visited {
    font-size: 1.9rem;
    padding: 1.5rem 3rem
}
 
  /*END buttons from U.S. web standards*/
  
.hide {
    display:none;
}
#showcontainer {
    border:solid lime 1px;
}
  /*Google Search Styles*/
  table.gsc-search-box, table.gsc-search-box th, table.gsc-search-box td {border:0; padding:0;margin:0;}
  table.gsc-above-wrapper-area-container, table.gsc-above-wrapper-area-container th, table.gsc-above-wrapper-area-container td {border:0; padding:0; margin:0;}
  table.gsc-resultsHeader, table.gsc-resultsHeader th, table.gsc-resultsHeader td {border:0; padding:0; margin:0;}
  table.gsc-table-result, table.gsc-table-result th, table.gsc-table-result td {border:0;}
  .gs-per-result-labels {display: none;}
  img.gs-image {display: none;}
  a.gs-image {display: none;}
  td.gsc-table-cell-thumbnail.gsc-thumbnail {display: none;}
  input.medicaid-search-box {width: 50%; border-color: rgb(169,169,169); border-width: thin;}
  input.gsc-search-button {margin-left: 2px; height: 27px;}
  div.gsc-result-info {height: 30px;}
  .gsc-webResult .gsc-result {border-bottom: 1px solid #a0a0a0!important;}
  .gsc-control-cse {background-color: #ffffff!important; border:0!important;}
  .gsc-above-wrapper-area {border-bottom: 0!important; padding:0!important;}
  .cse .gsc-results, .gsc-results {margin-top: -25px!important;}
  .cse input.gsc-search-button, input.gsc-search-button {background-color: #ffffff!important; border:solid 1px #066792!important;}
  input.gsc-input {border: 1px solid #066792!important; padding: 5px 6px!important;}
  .gsc-results-wrapper-visible {padding-top:7px!important;}
  .gs-webResult div.gs-visibleUrl-long {display: block!important; color:#815fa7!important;}
  /*Google Search Styles END*/
  
  th { background-color: #bfd6d6; color: #000000; text-align: left; font-weight: bold; }
  th, td { padding: 0.5em; }
  caption {color: #013333; font-weight: bold; margin-bottom: 0.5em; text-align: center;}
  em, i { font-style: italic; }
  kbd, code, samp { font-family: monospace; font-size: 13px; }
  pre { background-color: #c0c0c0; margin: 10px; padding: 10px; border: 1px solid black; }
  fieldset, img { border: 0px none; }
  button { font-weight: 400; font-size: 13px; font-family: Helvetica,Arial,sans-serif; border: 1px solid #707070; padding: 1px 6px 2px; margin: 3px 0px; border-radius: 3px; }
  .clear_both { clear: both; }
  .right_align {text-align: right;}
  .center_align {text-align: center;}
  .left_float { float: left; width: 45%; }
  .left_float_col3 { float: left; width: 28%; margin-right: 5%; }
  .right_float { float: right; width: 45%; }
  .oneColumn { width: auto; margin: 30px 6% 3%; }
  .twoColumns, .twocolumns { width: 66%; display: inline-block; float: left; margin: 30px 6% 3%; }
  .threeColumns { width: 49%; display: inline-block; float: left; margin: 30px 6% 3%; }
  .display_full {display: none;}
  div.sideBar, div.sidebar { width: 19%; float: right; margin: 30px 5% 3% -3%; }
  div.sideBar aside, div.sidebar aside { margin: 0px 0px 30px; border-top: 4px solid #066792; border-bottom: 1px solid #066792; padding: 10px 5px 5px; }
  div.sideBar aside h2, div.sidebar aside h2 { font-size: 18px; font-weight: 400; font-family: Helvetica,Arial,sans-serif; padding: 6px; margin: 0px; line-height: 22px; }
  div.sideBar aside h3, div.sideBar aside h4, div.sidebar aside h3, div.sidebar aside h4 { padding: 4px 4px 2px; margin: 0px; }
  div.sideBar aside ul, div.sidebar aside ul { padding: 2px 4px 4px 14px; margin: 0px; }
  div#banner img { max-width: 100%; height: auto; }
  a[href$=".doc"], a[href$=".docx"] { background: rgba(0, 0, 0, 0) url("../images/icons/word_icon.png") no-repeat scroll right center; padding: 2px 20px 2px 0px; }
  a[href$=".mp3"] { padding: 2px 20px 2px 0px; background: rgba(0, 0, 0, 0) url("../images/icons/audio_icon.png") no-repeat scroll right center; }
  a[href$=".pdf"] { padding: 2px 20px 2px 0px; background: rgba(0, 0, 0, 0) url("../images/icons/pdf_icon.png") no-repeat scroll right center; }
  a[href$=".jpg"], a[href$=".gif"], a[href$=".png"] { padding: 2px 20px 2px 0px; background: rgba(0, 0, 0, 0) url("../images/icons/image_icon.png") no-repeat scroll right center; }
  a[href$=".wmv"], a[href$=".mov"], a[href$=".mp4"], a[href$=".swf"]  { padding: 2px 20px 2px 0px;; background: rgba(0, 0, 0, 0) url("../images/icons/video_icon.png") no-repeat scroll right center; }
  a[href$=".xlsx"] { background: rgba(0, 0, 0, 0) url("../images/icons/excel_icon.png") no-repeat scroll right center; padding: 2px 20px 2px 0px; }
  a[href$=".zip"] { background: rgba(0, 0, 0, 0) url("../images/icons/zip_icon.png") no-repeat scroll right center; padding: 2px 20px 2px 0px; }
  .overview { border-bottom: 1px solid #cccccc; margin: 0px auto 1%; min-height: 200px; padding-bottom: 1%; width: 94%; overflow:hidden; }
  article h1 { font: bold 26px "Times New Roman",serif; border-bottom: 4px solid #06668f; margin-bottom: 2.5%; }
  .overview img { float: left; margin-right: 3.5%; }
  article h2 { color: #333333; font: bold 23px "Times New Roman",serif; margin-bottom: 1%;}
  article p {font: 13.6px/16.8px "Arial Regular",sans-serif;}
  .policy_and_program { float: left; margin: 0px 0px 3% 3%; width: 57%; }
  .policy_and_program_fullWidth { margin: 1% 0px 3% 3%; width: 94%; min-height: 100px; overflow: auto; }
  section h1 { font: bold 21px "Times New Roman",serif; border-bottom: 4px solid #06668f; margin: 0px; }
  section ul.buttonNav { margin: 5px 0px 0px; }
  section ul.buttonNav li { width: 48%; background-color: #e0e0e0; display: block; float: left; list-style-type: none; margin: 12px 0px 0px; padding: 7px 0px; text-align: center; }
  section ul.buttonNav li.rightSpace { margin-right: 4%; }
  section ul.buttonNav li a { color: #333333; font: bold 15px Arial,sans-serif; text-decoration: none; }
  section ul.buttonNav li a:hover, section ul.buttonNav li a:focus { text-decoration: underline; }
  .featured { clear: right; float: right; margin: 0px 3% 0px 0px; width: 32.5%; }
  aside h1 { font: bold 21px "Times New Roman",serif; border-bottom: 4px solid #06668f; margin: 0px; }
  .additionalInfo { width: 94%; min-height: 200px; overflow: auto; margin: 0px auto 3%; }
  .column { width: 33%; float: left;}
  .additionalInfo section h1 { border-bottom: 0px none; margin: 5% 0px 0px 5%; }
  .rightSpace { margin-right: 0.5%; }
  .additionalInfo .relatedLinks ul { margin: 5% 3% 3% 5%; }
  .additionalInfo .relatedLinks ul li { margin-bottom: 10px; }
  .byState label[for="state_picked"] { background: rgba(0, 0, 0, 0) url("../images/icons/stateIcon.png") no-repeat scroll 7% 0px; display: block; font: bold 16px Arial,sans-serif; margin: 24% 0px 0px 11%; padding: 2% 0px 5% 34%; width: 40%; color: #333333; }
  .byState #state_picked { background-color: #f8f8f8; border: 1px solid silver; color: #2b2a2a; margin: 3% 0px 0px 16.5%; width: 48%; }
  .byState #viewState { background-color: #e4e9e9; border: 1px solid grey; border-radius: 5px; color: #2b2a2a; width: 17%; }
  .clear-both { clear: both; }
  
  .gauge {
	 width: 400px;
  }

  /*paper card*/
  .nav_boxes {
    height: 100%;
    margin: 0 auto 2%;
    position: relative;
    width: 100%; }
	
   .one_line {min-height: 225px;}
   
   .two_lines {min-height: 464px;}
   
   .nav_boxes article div img {float:left; padding:10px 10px 0 10px;}
   
	
   article.smaller h2 {margin:0; padding:0; font: bold 20px "Arial",sans-serif; padding:7px 7px 5px; height:50px; background: #066792; color: #ffffff;}
   article.smaller  p {padding: 7px;}
   article.smaller { border:solid 1px #666666; height:225px!important;}
	.paper_card4 article, .paper_card5 article {position:absolute; top:225px;}
  .panels-flexible-region-homepage_layout-homepage_nav { height: 200px; overflow: hidden;}
  .nav_boxes .undisplayed { display: none; }
  .nav_boxes .nav_box { position: absolute; float: left; clear: none; font-family: Helvetica; box-sizing: border-box; transition: all 0.3s ease 0s; }
  .nav_boxes .nav_box.smaller { width: 32%; z-index: 2;}
  .nav_boxes .nav_box.smaller.atop { z-index: 4; }
  .nav_boxes .nav_box.larger { -webkit-transition: width 4s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 4s, height 4s;height: auto; z-index: 1; background: #ffffff none repeat scroll 0% 0%; border: 3px solid #026666; padding:0 15px; position: relative; width: 881px; margin-bottom:15px; }
 
  .paper_card4 .atop {margin-top:219px;}
  .paper_card5 .atop {margin-top:198px;}
  .paper_card6 .atop {margin-top:177px;}
  .nav_boxes .nav_box.hidden { opacity: 0; }
  .nav_boxes .nav_box.larger.atop { z-index: 3; }
  .nav_boxes .nav_box.larger .title { position: relative; top: 10px; }
  .nav_boxes .nav_box.larger .body { margin-top: 20px; }
  .nav_boxes .nav_box.larger .body a { color: #105191; text-decoration: underline; }
  .nav_boxes .nav_box .nav { position: absolute; width: 35px; height: 30px; padding-top: 5px; text-align: center; font-size: 14px; font-weight: normal; line-height: 1.2em; cursor: pointer; box-sizing: border-box; }
  .nav_boxes .nav_box .nav a { color: #105191; text-decoration: none; }
  .nav_boxes .nav_box .nav.plus { bottom: 30px; right: 10px;  }
  .nav_boxes .nav_box .nav.minus { float: right; margin: 20px 0px; position: relative; }
  .nav_boxes .nav_box.expanded { transform: scaleX(4.25) scaleY(4.25); }
  .nav_boxes .nav_box.contracted { transform: scaleX(0.001) scaleY(0.001); }
  
   .nav_boxes .smaller:hover > h2 {background:#026666;}
  .nav_boxes .box2.smaller, .box5.smaller { margin-left: 15px; float: left; position: absolute; left: 282px; }
  .nav_boxes .box3.smaller {margin-left: 15px; float: left; position:absolute; top:0px; left: 579px;}
  .nav_boxes .box6.smaller {margin-left: 15px; float: left; position:absolute; top:225px; left: 579px;}
  .nav_boxes .box2.larger, .nav_boxes .box3.larger {margin-bottom: 15px; margin-top: -22px;;}
  .box4.smaller, .box5.smaller, .box6.smaller { margin-top: 15px; }
  .box4.larger {margin-top:160px;}
  .actionWrap_3columns { width: 93%; height: 85px; margin: 3% auto; }
  .actionWrap_2columns { width: 53%; margin: 7% 0px 6% 3%; float: left; }
  .actionWrap_1column .call_to_action { width: 94%; margin: 3% 0px 0px 1%; }
  .call_to_action { width: 29%; height: 80px; padding: 0px 2%; float: left; }
  .actionWrap_2columns .call_to_action { width: 45%; margin: 3% 0px; float: left; }
  .dottedBorder { border-right: 1px dotted #06668f; margin-right: 3px; }
  .actionWrap_2columns .dottedBorder, .actionWrap_1column .dottedBorder { border-right: 0px none; }
  .actionWrap_1column .dottedBorder { border-bottom: 1px dotted #2e2e2e; }
  .actionWrap div p { padding-top: 3%; }
  .child, .clipboard, .clipboard_plain, .comment, .envelope, .iap, .information, .laptop, .light_bulb, .magnifier, .tooth { padding: 0px 24px 54px 45px; }
  .child { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -500px -100px; }
  .clipboard { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll 0px -100px; }
  .clipboard_plain { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -713px -103px; }
  .comment { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -100px -100px; }
  .envelope { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -200px -100px; }
  .iap { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -1012px -110px; }
  .information { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -300px -100px; }
  .laptop { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -813px -104px; }
  .light_bulb { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -906px -103px; }
  .magnifier { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -400px -100px; }
  .tooth { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -600px -100px; }
  .child:focus, .child:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -500px 0px; }
  .clipboard:focus, .clipboard:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll 0px 0px; }
  .clipboard_plain:focus, .clipboard_plain:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -713px -3px; }
  .comment:focus, .comment:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -100px 0px; }
  .envelope:focus, .envelope:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -200px 0px; }
  .iap:focus, .iap:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -1012px -10px; }
  .information:focus, .information:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -300px 0px; }
  .laptop:focus, .laptop:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -813px -4px; }
  .light_bulb:focus, .light_bulb:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -906px -3px; }
  .magnifier:focus, .magnifier:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -400px 0px; }
  .tooth:focus, .tooth:hover { background: rgba(0, 0, 0, 0) url("../images/icons/call_to_action_sprites.png") no-repeat scroll -600px 0px; }
  .actionWrap div a, .beneficiaryPar .call_to_action a { text-decoration: none; text-transform: uppercase; font-family: "Times New Roman",serif; font-weight: bold; color: #2e2e2e; line-height: 1.3em; }
  .actionWrap_1column .call_to_action a { font: bold 15px Arial,sans-serif; text-transform: none; }
  .actionWrap div a { font-size: 14px; }
  .actionWrap div a:focus, .actionWrap div a:hover { color: #0b7a78; }
  .actionWrap div a span { display: block; float: right; clear: right; width: 64%; padding: 3% 0px 0px; }
  .actionWrap_1column div a span { width: 50%; margin-right: 22%; }
  .relatedLinks h1, .featuredPar h1 { font-family: "Times New Roman",serif; font-size: 19px; color: #333333; border-bottom: 4px solid #06668f; }
  .popularPages h1, .featuredPar h1 { line-height: 135%; margin-bottom: 5%; }
  .new_and_notable { width: 89%; margin: 0px auto; padding: 0px 2%; }
  .relatedLinks ul { margin: 2% 0px 0px; padding: 0px 0px 1% 1%; }
  .relatedLinks ul > li { list-style-type: none; }
  .relatedLinks ul li { background: rgba(0, 0, 0, 0) url("../images/icons/arrow_sprites.png") no-repeat scroll 0% 0%; padding: 0px 0px 3px 35px; font-size: 15px; font-family: Arial,sans-serif; margin: 0px 0px 15px; }
  .new_and_notable ul li { background-position: 0px 0px; }
  .relatedLinks ul li a { color: black; text-decoration: none; }
  .pdfDate, time { font-style: italic; }
  .relatedLinks a:focus, .relatedLinks a:hover { text-decoration: underline; color: #077572; }
  .new_and_notable .btnMore { float: right; clear: right; }
  a.btnMore, a.btnMore:focus, a.btnMore:hover { text-decoration: none; color: white; }
  .btnMore { color: #ffffff; font-weight: bold; font-size: 11px; font-family: Helvetica,Arial,sans-serif; background: #ca4e22 none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: #6d86ad #647a9e #546685; box-shadow: 0px 1px 0px 0px #a5b9d9 inset; cursor: pointer; border-radius: 5px; padding: 3px 7px; margin-bottom: 10px; }
  .btnMore:focus, .btnMore:hover { background: #c96745 none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: #6d86ad #647a9e #546685; box-shadow: 0px 1px 0px 0px #a5b9d9 inset; }
  .sepLine { border: medium none; background-color: #06668f; color: #06668f; height: 1px; margin-top: 5%; }
  .popularPages { width: 36%; margin: 2% 0px 2% 5.5%; padding: 21px 10px 10px; float: left; clear: left; }
  .popularPages ul li, .byPopulation ul li { background-position: -3px -103px; }
  .featuredPar { width: 40%; margin: 2% 7% 5% 5.5%; padding: 20px 10px; float: right; clear: right; border: 1px solid silver; }
  .beneficiaryPar { width: 30%; margin: 5% 5% 5% 0px; border-radius: 25px; box-shadow: 0px 0px 5px; border: 0px none; padding: 0px 15px 20px; }
  .beneficiaryPar .call_to_action { width: 95%; height: 110px; margin-top: 7%; }
  .large_clipboard { padding: 0px 42px 85px 45px; }
  .large_clipboard { background: rgba(0, 0, 0, 0) url("../images/icons/icon_large_clipboard.png") no-repeat scroll 0px 0px; }
  .large_clipboard:focus, .large_clipboard:hover { background: rgba(0, 0, 0, 0) url("../images/icons/icon_large_clipboard_teal.png") no-repeat scroll 0px 0px; }
  .beneficiaryPar .call_to_action a { font-size: 21px; }
  .beneficiaryPar div a:focus, .beneficiaryPar div a:hover { color: #0b7a78; }
  .beneficiaryPar div a span { display: block; float: right; clear: right; width: 57%; margin: 5% 4% 0px 0px; }
  .featuredPar img { display: block; margin: 0px 5%; }
  .featuredPar p { padding: 3% 3% 0px; font-size: 14px; font-family: Arial,sans-serif; display: inline-block; }
  .featuredPar .btnMore { margin: 2% 3% 3%; }
  footer, #site_footer, #hhs_footer { width: 100%; }
  #site_footer ol, #site_footer ul { list-style: outside none none; margin: 0px; padding: 0px; }
  #site_footer ul li { list-style: outside none none; }
  #site_footer #hhs_footer { border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }
  .ft_inner { width: 1001px; margin: 0px auto; padding-bottom: 16px; overflow: auto; }
  .ft_inner img, .ft_medicaid_disclaimer { float: left; padding-top: 20px; margin-left: 2%; }
  .ft_inner img { margin-top: 0.75%; }
  .ft_inner a img { margin-top: 0px; }
  .ft_inner a img { margin-left: 11%; }
  .ft_medicaid_disclaimer { width: 53%; margin: 1.25% 0px 0px 5.3%; font: 14px Arial,sans-serif; color: #333333; }
  #ftLinks_column3 ul li a { background-image: url("../images/icons/media_sprites.png"); background-repeat: no-repeat; padding: 3% 0px 3% 15%; }
  #ftLinks_column3 ul li a.email { background-position: 0px 0px; }
  #ftLinks_column3 ul li a.twitter { background-position: 0px -50px; }
  #ftLinks_column3 ul li a.youtube { background-position: 0px -100px; }
  #ftLinks_column3 ul li a.feed { background-position: 0px -150px; }
  #ftLinks_column3 ul { margin-top: 13px; }
  #ftLinks_column3 ul li { height: 38px; margin-top: 10px; }
  #ftLinks_column1, #ftLinks_column2, #ftLinks_column3 { margin-top: 20px; width: 33.3333%; float: left; }
  #ftLinks_column1 ul { margin-top: 1em; margin-left: 6%; }
  .ftLinks ul { padding-top: 8px; }
  .ftLinks ul li { margin: 0px 0px 8px; }
  .ftLinks ul li a, .ftLinks .boldLink a, .ftLinks .boldHeading { text-decoration: none; color: #333333; }
  .ftLinks ul li a { font: 90% Arial,sans-serif; }
  .ftLinks ul li a:focus, .ftLinks ul li a:hover, .ftLinks .boldLink a:focus, .ftLinks .boldLink a:hover { text-decoration: underline; }
  .ftLinks p.boldLink { margin-top: 10px; font: bold 14px Arial,sans-serif; }
  .ftLinks h2 { margin: 1em 0px; font: bold 16.5px Arial,sans-serif; }
  #ftLinks_column3 h2 { margin-bottom: 1.5em; }
}

@media screen and (min-width: 501px) {
  body.one-page { padding-top: 70px; }
  .flexnav { overflow: visible; }
  .flexnav.opacity { opacity: 1; }
  .flexnav.one-page { top: 0px; right: auto; max-width: 1080px; }
  .flexnav li { position: relative; list-style: outside none none; float: left; display: block; background-color: #a6a6a2; overflow: visible; width: auto; }
  .flexnav li a { border-bottom: medium none; }
  .flexnav li > ul { position: absolute; top: auto; left: 0px; }
  .flexnav li > ul li { width: 100%; }
  .flexnav li ul li > ul { margin-left: 100%; top: 0px; }
  .flexnav li ul li a { border-bottom: medium none; }
  .flexnav li ul.open { display: block; opacity: 1; visibility: visible; z-index: 1; }
  .flexnav li ul.open li { overflow: visible; max-height: 100px; }
  .flexnav li ul.open ul.open { top: 0px; }
  .menu-button { display: none; }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  #utilityNav ul { width: 95%; margin: 0px 5% 0px 0px; padding: 1% 0px 0px; }
  #logo_w_search { width: 95%; }
  #healthcareLink, ul.topBar, .btn_search { display: none; }
  #site_header { min-width: 320px; }
  #site_header #logo_w_search a img { margin: 0px; width: 303px; height: 64px; }
  #site_header #logo_w_search #SiteSearchHeaderForm { margin: 7px 0px 0px 7px; padding: 0px; width: 96%; }
  #site_header #logo_w_search form#SiteSearchHeaderForm input.SearchBox { width: 230px; }
  #site_header #logo_w_search form#SiteSearchHeaderForm { padding: 10px 8px 0px 0px; }
  #site_header #logo_w_search form#SiteSearchHeaderForm input[type="text"] { background-image: url("../images/icons/search.png"); background-repeat: no-repeat; background-position: 5px center; position: relative; padding-left: 30px; color: #333333; }
  .whiteLine { border-bottom: 2px solid #ffffff; }
  #site_footer #ftLinks_column3 { margin-top: 26px; }
  .flexnav .touch-button { position: absolute; z-index: 999; top: 0px; right: 0px; width: 48px; height: 34px; display: inline-block; background: rgba(0, 0, 0, 0.075) none repeat scroll 0% 0%; text-align: center; }
  #global_nav #site_nav ul.flexnav, #global_nav #site_nav ul.flexnav li, #global_nav #site_nav ul.flexnav li ul li a, #global_nav #site_nav ul.flexnav li ul, #global_nav #site_nav ul.flexnav li ul li, #menu-button, #global_nav nav { width: 100%; }
  #global_nav #site_nav ul.flexnav li ul li:last-child { border-bottom: 2px solid #ffffff; }
  .item-with-ul { border-bottom: 0px none; }
  .flexnav li ul li a { padding: 0px; }
  .flexnav li a { position: relative; display: block; padding: 0.96em; z-index: 2; overflow: hidden; color: #ffffff; background: #24797c none repeat scroll 0% 0%; }
  .flexnav li ul li { border-bottom: 1px solid #ffffff; }
  .flexnav li ul li:last-child { border-bottom: 2px solid #ffffff; }
  .flexnav li ul li { border-bottom: 1px dashed #cccccc; }
  #mainContent, #pageContent { width: 100%; }
  .actionWrap { width: 93%; height: 290px; }
  .call_to_action, .actionWrap_2columns .call_to_action { width: 90%; display: block; padding: 3% 0px 1%; margin: 0px 5%; }
  .call_to_action p { width: 260px; display: block; margin: 0px auto; }
  .dottedBorder { border-right: 0px none; border-bottom: 1px dotted #06668f; margin-bottom: 3px; }
  .sepLine { width: 100%; margin-top: 15%; }
  .new_and_notable h1, .popularPages h1, .featuredPar h1 { margin-bottom: 20px; line-height: 120%; }
  .new_and_notable ul, .popularPages ul { margin-top: 0px; padding-top: 0px; }
  .popularPages, .ft-inner { width: 89%; }
  .featuredPar { width: 84%; margin: 0px 5% 7%; }
  .beneficiaryPar .call_to_action a { font-size: 18px; }
  .beneficiaryPar div a span { margin: 9% 0px 0px 1%; width: 60%; }
  .popularPages { margin: 0px 3%; }
  .popularPages ul { padding: 0px 0px 2%; }
  .featuredPar div { padding-top: 3%; }
  .btnMore { margin: 5% 0px 2% 3%; }
  #site_footer #hhs_footer .ft_inner img { float: left; padding: 15px 0px 10px; }
  .ft_medicaid_disclaimer { float: left; width: 70%; margin: 0px 0px 0px 3%; padding-top: 0px; font-size: 75%; }
  #site_footer #hhs_footer .ft_inner a { float: left; }
  #site_footer #hhs_footer .ft_inner a img { padding-top: 0px; }
  #site_footer .ft_inner { width: 89%; }
  #ftLinks_column1 { display: none; }
  #site_footer #ftLinks_column2, #site_footer #ftLinks_column3 { width: 230px; padding-left: 5px; }
  #site_footer #ftLinks_column3 { margin-top: 0px; }
  #site_footer #ftLinks_column3 ul li a { padding: 8px 0px 15px 42px; }
  #site_footer #ftLinks_column3 h2.boldHeading { margin-top: 10px; }
}

@media print {
  * { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% ! important; color: #000000 ! important; text-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  #logo_w_search a:after, .breadcrumbs a::after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h1, h2, h3 { page-break-after: avoid; }
  noscript, .flexnav, .menu-button, .section_nav, .topBar { display: none; }
  #global_nav, #healthcareLink, #site_footer, #SiteSearchHeaderForm, #site_nav, #skip, #utilityNav { display: none; }
  .oneColumn, .twoColumns, .twocolumns, .threeColumns, .sideBar, .sidebar { width: 7in; }
  .sideBar, .sidebar { float: none; }
  .sideBar aside, .sidebar aside { border-top: 4px solid #066792; border-bottom: 1px solid #066792; }
  tr.even { background-color: #e6e7e8; }
  tr.odd { background-color: #ffffff; }
  div.accordion > * { display: block ! important; }
  div.accordion h3 { border: 2px solid #026666; border-radius: 5px; }
  .responsive-tabs__list { display: none ! important; visibility: hidden ! important; }
  .responsive-tabs__heading { display: block ! important; position: relative ! important; }
  #tablist1-panel1, #tablist1-panel2, #tablist1-panel3, .responsive-tabs__panel--active, .responsive-tabs__panel--closed-accordion-only, .display_full { display: block ! important; visibility: visible ! important; }
  #tablist1-panel1 h2, #tablist1-panel1 p { display: block ! important; visibility: visible ! important; }
  h2.responsive-tabs__heading { border: 2px solid black; border-top-left-radius: 8px; border-top-right-radius: 8px; width: 200px; background-color: #ffffff ! important; }
  .responsive-tabs__panel, .display_full { display: block ! important; width: 800px; height: inherit; min-height: 200px; }
  .display_short {display:none!important; visibility:hidden!important;}
}
