h2 {
	color: #026667;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: left;
}
#hor-minimalist-b {
	background: none repeat scroll 0 0 #FFFFFF;
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
	width: 480px;
}
#hor-minimalist-b .stateinfo {
    font-weight: bold;
}
#hor-minimalist-b th {
	border-top: 2px solid #086792;
	border-bottom: 1px solid #CCC;
	color: #333333;
	padding: 8px 10px;
	padding-left: 8px;
}
#hor-minimalist-b td {
	border-bottom: 1px solid #CCC;
	color: #333333;
	padding: 8px 10px;
	vertical-align: top;
}
#hor-minimalist-b tbody tr:hover td {
	color: #333333;
}

/*supporting docs list styling*/

#hor-minimalist-b ul {
	padding-left: 0;
	margin-left: 0;
	display: block;
	list-style-type: none;
}

#hor-minimalist-b li {
	display:block;
	border-bottom: 2px solid #CCC;
	padding: 5px;
	color: #999;
}

#hor-minimalist-b li a {
	color: #006666;
	text-decoration: none;
}

#hor-minimalist-b li a:visited a:active {
	color: #666;
}

#hor-minimalist-b li a:hover {
	color: #033;
}
